.center {
	text-align: center;
}

.hashtag {
	font-size: 24px;
}

img {
	width: 230px;
	height: 230px;
	border-radius: 15%;
}

.clmn {
	padding: 15px;
	margin: 10px;
}

.lessThan1 {
	border: 3px solid #336699;
	border-radius: 5%;
}

.moreThan15 {
	border: 3px solid #666666;
	border-radius: 5%;
}

.inBetween {
	border: 3px solid #00d1b2;
	border-radius: 5%;
}

.section {
	padding: 2rem 1rem;
}

.hero-body {
	padding: 0;
}

.bold {
	font-weight: bold;
}

[v-cloak] {
  display: none;
}